@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: none;
    text-align: center;
	font-family: 'Poiret One', sans-serif;
    color: black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body h1 {
	font-size: 215%;
}

h2 {
	font-size: 250%;
	font-family: "Montserrat", sans-serif;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    /* font-weight: 500%; */
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}



header {
	font-size: 25px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    color: #0078a0;
}




.navbar {
    /* position: float; */
    display: flex;
    justify-content: right;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    height: 15%;
    z-index: 1;
}

.nav {
    display: flex;
    /* justify-content: right; */
    list-style: none;
    margin-right: 15%;
}



 .nav_links {
	 
     list-style: none;
 }

 .nav_links li {
     display: inline-block;
     padding: 0px 20px;
 }

 .nav_links li a {
     transition: all 0.3s ease 0s;
 }

 .nav_links li a:hover {
     transition: 2ms;
    color: #55d4f7;
}

/* button:hover {
    color: #000;
    background-color: rgba(80, 207, 238, 0.8);
    transition: 1s;
} */

#services {
    width: 100%;
    height: 800px;
    float: left;
    background: #ffffff;
}

#services h1 {
    size: 15px;
}

#projects {
    width: 100%;
    height: 800px;
    float: left;
    background: #ffffff;
}

#about {
    width: 100%;
    height: 800px;
    float: left;
    background: #ffffff;
}

#flex-container0-top,
#flex-container0-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#about0-top-left,
#about0-bottom-right {
	background-color: #FAFAFA;
	width: 1000px;
	height: auto;
	padding: 20px;
	border-radius: 20px;
	border: 2px #282940 solid;
	box-shadow: 20px 20px 50px;
	box-sizing: border-box;
}

#about0-top-left h2,
#about0-bottom-right h2 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 2em;
	text-align: center;
}

#about0-bottom-right h3 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	font-weight: bold;
}

#about0-bottom-right h4 {
	font-weight: bold;
}

#about0-top-left p,
#about0-bottom-right p {
	padding: 20px 5px 20px 5px;
}

#about0-top-left {
	margin-top: 30px;
}

#about0-top-left a,
#about0-bottom-right a {
	text-decoration: underline;
	color: #404028;
	font-weight: bold;
	font-style: italic;
}

#about0-bottom-right {
	margin-top: 30px;
	margin-bottom: 30px;
}

#about0-bottom-right a {
	padding-top: 30px;
}

#flex-container1-top,
#flex-container1-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#about1-top-left,
#about1-bottom-right {
	background-color: #FAFAFA;
	width: 1000px;
	height: auto;
	padding: 20px;
	border-radius: 20px;
	border: 2px #404028 solid;
	box-shadow: 20px 20px 50px;
	box-sizing: border-box;
}

#about1-top-left h2,
#about1-bottom-right h2 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 2em;
	text-align: center;
}

#about1-bottom-right h3 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	font-weight: bold;
}

#about1-bottom-right h4 {
	font-weight: bold;
}

#about1-top-left p,
#about1-bottom-right p {
	padding: 20px 5px 20px 5px;
}

#about1-top-left {
	margin-top: 30px;
}

#about1-top-left a,
#about1-bottom-right a {
	text-decoration: underline;
	color: #404028;
	font-weight: bold;
	font-style: italic;
}

#about1-bottom-right {
	margin-top: 30px;
	margin-bottom: 30px;
}

#about1-bottom-right a {
	padding-top: 30px;
}

#flex-container2-top,
#flex-container2-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#about2-top-left,
#about2-bottom-right {
	background-color: #FAFAFA;
	width: 1000px;
	height: auto;
	padding: 20px;
	border-radius: 20px;
	border: 2px #404028 solid;
	box-shadow: 20px 20px 50px;
	box-sizing: border-box;
}

#about2-top-left h2,
#about2-bottom-right h2 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 2em;
	text-align: center;
}

#about2-bottom-right h3 {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	font-weight: bold;
}

#about2-bottom-right h4 {
	font-weight: bold;
}

#about2-top-left p,
#about2-bottom-right p {
	padding: 20px 5px 20px 5px;
}

#about2-top-left {
	margin-top: 30px;
}

#about2-top-left a,
#about2-bottom-right a {
	text-decoration: underline;
	color: #404028;
	font-weight: bold;
	font-style: italic;
}

#about2-bottom-right {
	margin-top: 30px;
	margin-bottom: 30px;
}

#about2-bottom-right a {
	padding-top: 30px;
}

#Patrick-Lencioni-quote {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	text-align: center;
}

#Reid-Hoffman-quote {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	text-align: center;
}

#Iyanla-Vanzant-quote {
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 1.5em;
	text-align: center;
}

@media screen and (max-width: 1600px) {
	#flex-container-top,
	#flex-container-bottom {
		width: 80%;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 20px auto 20px auto;
	}
	#about-top-left,
	#about-bottom-right,
	#image-top-right,
	#image-bottom-left {
		margin: 20px auto 20px auto;
		width: 80%;
		box-sizing: border-box;
	}
	
}

#contact-fourm {
    color: white;
}

.enquire-button {
	color: rgb(255, 255, 255);
	/* font-family: 'Poiret One', sans-serif; */
	font-size: 2em;
	font-weight: bold;
	background-color: #0078a0;
	padding: 5px;
	margin: 10px auto;
	display: block;
	border-radius: 10px;
}




.enquire-button:hover {
    color:  #1b1b1c;
	transform: scale(1.2);
	transition: 1s;
    background-color: #11c4ff;
    border-color: rgb(228, 44, 44);
}


#contact-form h2 {
	/* font-family: 'Poiret One', sans-serif; */
	padding: 20px;
	text-align: center;
	font-size: 3em;
	color: #404028;
}

#contact-form label {
	float: left;
	margin: 10px 50px;
	display: block;
	color: #404028;
}

.input-field {
	color: #404028;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #404028;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	width: 91%;
	margin: 10px 50px 10px 50px;
}


textarea {
	background-color: #FAFAFA;
	border: 1px solid #797861;
	color: #404028;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	width: 91%;
	margin-left: 50px;
	margin-right: 50px;
}

.input,
textarea {
	color: #404028;
}



::placeholder {
	
	color: #404028;
	opacity: 1;
	
}

.input:focus,
textarea:focus {
	background-color: #FAFAFA;
	outline: 2px solid #404028;
	color: #3a3a27;
}

#web-image {
	margin-bottom: 30px;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/web.jpg') no-repeat center center/cover;
    border-bottom: black;
}

#web-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#web2-image {
	position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/web2.jpg') no-repeat center center/cover;
    border-bottom: black;	
}

#web2-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#web3-image {
	object-fit: contain;
	position: relative;
    height: 100vh;
    width: 100%;
	margin-bottom: 30px;
    background: url('../images/web3.webp.jpg') no-repeat center center/cover;
    border-bottom: black;	
}

#web3-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#web4-image {
	background-size: contain;
	position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/man-standing-infront-of-team.jpg') no-repeat center center/cover;
    border-bottom: black;
	margin-bottom: 30px;
	padding: 0;	
}

#web4-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}



#contact-form {
    width: 100%;
    /* height: 800px; */
    padding-left: 4px;
    /* float: left; */
    background: white
}


.contact-info {
	margin: 20px;
	text-align: left;
	display: block;
	padding: 20px;
}


/* .contact-info {
	margin: auto;
	text-align: left;
	letter-spacing: 4px;
	display: inline;
	padding: 5px;
} */

.contact-info p {
	padding: 5px;
	margin: 20px;
	letter-spacing: 4px;
}

.social-networks {
	text-align: center;
}

.social-networks li {
	display: inline;
}

.social-networks i {
    -ms-flex-align: center;
    text-align: center;
	font-size: 150%;
	color: #0078a0;
    padding: 12px 20px;
	display: inline-block;
}


footer {
	padding: 0;
	margin: 0;
	width: 100%;
	bottom: 0;
}

/* Thank you page */

.thank-you-container {
	flex-grow: 1;
}