@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: none;
    text-align: center;
    color: black;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0078a0;
    text-decoration: none;
    cursor: pointer;
}



header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    color: rgb(0, 115, 144);
}


.secondweb div {
    max-width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: cover;
}

 .logo {
     cursor: pointer;
 }


 .nav_links {
     list-style: none;
 }

 .nav_links li {
     display: inline-block;
     padding: 0px 20px;
 }

 .nav_links li a {
     transition: all 0.3s ease 0s;
 }

 .nav_links li a:hover {
    color: #55d4f7
}

button {
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    transition: 1s;
}

#services {
    width: 100%;
    height: 800px;
    float: left;
    background: #D69c61;
}

#services h1 {
    size: 15px;
}

#projects {
    width: 100%;
    height: 800px;
    float: left;
    background: #d6cf61;
}

#about {
    width: 100%;
    height: 800px;
    float: left;
    background: #a8d661;
}

#contacts {
    width: 100%;
    height: 800px;
    float: left;
    background: #61d6a3;
}

img {
    height: 0;
    width: 0;  
}

#web-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#web-image {
    height: 800px;
    max-width: 100%;
    background: url('../images/web.webp') no-repeat center center;
    border-bottom: black;
}

    

