@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

section {
    width: 100%;
    height: 800px;
    float: left; 
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0078a0;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: rgb(0, 115, 144);
}
 .logo {
     cursor: pointer;
 }


 .nav_links {
     list-style: none;
 }

 .nav_links li {
     display: inline-block;
     padding: 0px 20px;
 }

 .nav_links li a {
     transition: all 0.3s ease 0s;
 }

 .nav_links li a:hover {
    color: #55d4f7
}

button {
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    transition: 1s;
}

#services {
    background: #D69c61;
}

#projects {
    background: #d6cf61;
}

#about {
    background: #a8d661;
}

#contacts {
    background: #61d6a3;
}

